<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">All clubs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink='/clubs/{{clubId}}/about'>About</a>
      </li>
      <li>
        <a routerLink='/clubs/{{clubId}}/admin'>Admin</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">{{localClub?.title}}</h1>
<hr>
<div class="container text-center">
  <h4 class="well">
    {{localClub?.about}}
  </h4>
  <button class="btn btn-primary" routerLink='/clubs/{{localClub?.$key}}'>Back to {{localClub?.title}}</button>
</div>
