<h1 class="text-center">The Best Book Club in the World</h1>
<hr>
<h2>Members:</h2>
<div class="member-card panel panel-default" *ngFor='let member of members | async'>
  <div class="panel-body">
    <h3 routerLink='/members/{{member.$key}}'><a>Name: {{member.name}}</a></h3>
    <div *ngIf="currentRoute === '/admin'">
      <button *ngIf='editingMember != member' type="button" class="btn btn-block" (click)='startEditing(member)'>Edit</button>
      <div *ngIf='editingMember === member'>
        <app-edit-member [selectedMember]="member"
                         (endEditSender)='endEditing()'></app-edit-member>
      </div>
    </div>
  </div>
</div>
