<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">All clubs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink='/clubs/{{clubId}}/about'>About</a>
      </li>
      <li>
        <a routerLink='/clubs/{{clubId}}/admin'>Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3 routerLink='/clubs/{{clubId}}'><a>Back to {{localClub?.title}}</a></h3>
  <div class="well">
    <h3>{{localMember?.name}}</h3>
    <h4>{{localClub?.title}}</h4>
    <h4>Age: {{localMember?.age}}</h4>
    <h4>Role: {{localMember?.role}}</h4>
    <hr>
    <img class='member-photo' src="{{localMember?.image}}">
  </div>
</div>
