/* You can add global styles to this file, and also import other style files */
.member-photo {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.member-card {
  width: 50%;
}

.admin-msg {
  color: #87cefa;
}

.searchbar, .member-card {
  width: 50%;
  margin: 0 auto;
}
